
<div class="container">
    <div style="text-align: center;width: 100%">
      <button mat-raised-button style="margin-top: 5%;" color="primary" (click)="openDialog()"> <mat-icon>add</mat-icon>add new center</button>
    </div>
    <mat-form-field class="searchInput">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Hamza" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
           class="mat-elevation-z8">
  
  
           <!-- "id","name","description","filieres","createdAt","updatedAt","update","delete"]; -->
  
      <!-- Id Column-->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
         Id
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <br>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <br>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
            Description
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
  
      <br>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by createdAt">
            createdAt
        </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
      </ng-container>
      <br>
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef mat-sort-header   >
          Update
        </th>
        <!-- (click)="update(element)" -->
        <td mat-cell *matCellDef="let element">  <button mat-raised-button color="primary"  >Update</button> </td>
      </ng-container> 
      <br>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Delete
        </th>
        <td mat-cell *matCellDef="let element">    <button mat-raised-button color="warn" (click)="delete(element.id)">delete</button> </td>
      </ng-container> 
      <br>
  <!-- (click)="delete(element.id)"  -->
     
  
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  