
<div class="cards">
    <button mat-raised-button  routerLink="/establishment">
      <mat-icon>apartment</mat-icon>
      etablisement
   </button>
   
       <button mat-raised-button routerLink="/center">
          <mat-icon>hub</mat-icon>
          Center
       </button>
       <button routerLink="/cycle" mat-raised-button>
         <mat-icon>group_work</mat-icon>
        cycle
      </button>
    <button routerLink="/student" mat-raised-button>
       <mat-icon>school</mat-icon>
      student
    </button>
    <button mat-raised-button routerLink="/class">
       <mat-icon>groups</mat-icon>
       classe
    </button>
    <button mat-raised-button routerLink="/branch">
      <span class="material-symbols-outlined">
        account_tree
        </span>
       filiere
    </button>


    <button mat-raised-button routerLink="/home">
       <mat-icon>email</mat-icon>
       Email
    </button>
   </div>

