


  <div class="cards">
    <button mat-raised-button>
      <mat-icon>apartment</mat-icon>
     2 etablisement
   </button>
    <button mat-raised-button>
       <mat-icon>school</mat-icon>
     50 student
    </button>
   
    <button mat-raised-button>
       <mat-icon>hub</mat-icon>
       Center
    </button>
    <button mat-raised-button>
       <mat-icon>groups</mat-icon>
       classe
    </button>
    <button mat-raised-button>
      <span class="material-symbols-outlined">
        account_tree
        </span>
       filiere
    </button>
    
  
   
    <button mat-raised-button>
       <mat-icon>email</mat-icon>
       Email
    </button>
   </div>