


  <div class="cards">
    <button mat-raised-button>
       <mat-icon>school</mat-icon>
      student
    </button>
   
    <button mat-raised-button>
       <mat-icon>hub</mat-icon>
       Center
    </button>
    <button mat-raised-button>
       <mat-icon>groups</mat-icon>
       classe
    </button>
    <button mat-raised-button>
       <mat-icon>code-branch</mat-icon>
       filiere
    </button>
    <button mat-raised-button>
       <mat-icon>apartment</mat-icon>
       etablisement
    </button>
  
   
    <button mat-raised-button>
       <mat-icon>email</mat-icon>
       Email
    </button>
   </div>