<h2 mat-dialog-title>Add new establishment</h2>
<div class="container">
  <form (ngSubmit)="onSubmit()">



      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput name="nomcentre" #nameInput="ngModel" [(ngModel)]="formData.nomcentre" pattern="[a-zA-Z ]+" required>
        <mat-error *ngIf="nameInput.hasError('required')">Name is required</mat-error>
        <mat-error *ngIf="nameInput.hasError('pattern')">Invalid characters in Name (only letters allowed)</mat-error>

      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Adresse</mat-label>
        <input matInput name="adresse" #nameInput="ngModel" [(ngModel)]="formData.adresse" required>
        <mat-error *ngIf="nameInput.hasError('required')">Adresse is required</mat-error>
        <mat-error *ngIf="nameInput.hasError('pattern')">Invalid characters in Adresse (only letters allowed)</mat-error>

      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput name="email" #nameInput="ngModel" [(ngModel)]="formData.email"  required>
        <mat-error *ngIf="nameInput.hasError('required')">Email is required</mat-error>
       

      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Telephone</mat-label>
        <input matInput name="tel" #nameInput="ngModel" [(ngModel)]="formData.tel"  required>
        
       

      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Select establishment</mat-label>
        <mat-select name="establishment" [(ngModel)]="formData.etablissementId" #nameInput="ngModel" >
          <mat-option *ngFor="let  element of etablishment" value="{{element.id}}">{{element.name}}</mat-option>
         
        </mat-select>
      </mat-form-field>
      <br>

      
      <!-- <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field> -->


    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" cdkFocusInitial>Add/Update</button>
    </mat-dialog-actions>
  </form>
</div>