
<div class="form-container">
  <h1>Add new Class</h1>
<form class="form-add" [formGroup]="classesForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width">
      <mat-label>id</mat-label>
      <input placeholder="id" type="text" formControlName="id" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Long Last Name That Will Be Truncated</mat-label>
      <input  placeholder="Name" type="text" formControlName="name" matInput>
    </mat-form-field>
  <button type="submit" >Submit</button>
</form>
</div>
