
<div class="form-container">
  <h1>Add new Class</h1>
<form class="form-add" [formGroup]="classesForm" (ngSubmit)="onSubmit()">


    <mat-form-field class="example-full-width">
      <mat-label>Your Name</mat-label>
      <input  placeholder="Name" type="text" formControlName="nom" matInput>
    </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Your numero</mat-label>
    <input  placeholder="Name" type="text" formControlName="numero" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Niveau id</mat-label>
    <input  placeholder="Niveau Id" type="text" formControlName="niveauxId" matInput>
  </mat-form-field>
  <button type="submit" >Submit</button>
</form>
</div>
