
<div class="container">
  <div style="text-align: center;width: 100%">
    <button mat-raised-button style="margin-top: 5%;" color="primary" (click)="openDialog()"> <mat-icon>add</mat-icon>add new center</button>
  </div>
  <mat-form-field class="searchInput">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Hamza" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">


         <!-- "id" ,"nomcentre" ,"adresse" ,"email" ,"tel" ,"content" ,"etablissementId" , -->

    <!-- Id Column-->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
       Id
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nomcentre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nomcentre">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.nomcentre}} </td>
    </ng-container>

    <!-- Symbol Column
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        Symbol
      </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>-->
    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
        Email
      </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container> 
   

    <ng-container matColumnDef="tel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tel">
      Telephone
      </th>
      <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
    </ng-container> 

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by adresse">
        Adresse
      </th>
      <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
    </ng-container> 
    <br>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef mat-sort-header   >
        Update
      </th>
      <td mat-cell *matCellDef="let element">  <button mat-raised-button color="primary" (click)="update(element)" >Update</button> </td>
    </ng-container> 
    <br>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >
        Delete
      </th>
      <td mat-cell *matCellDef="let element">    <button mat-raised-button (click)="delete()" color="warn">delete</button> </td>
    </ng-container> 
    <br>

   

   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
